@charset "utf-8";
/* CSS Document */
/*重置代码*/
h1,h2,h3,h4,h5,h6,img,p,ul,li,dl,dt,dd,ol,form,span,input,a,div{ margin:0px; padding:0px; font-style:normal; border:0;}
body{ font-family:"宋体"; font-size:12px; margin:0 auto; background:#fff;}
img{ border:0px;border:none;}
ul,li{ list-style-type:none;}
a{ text-decoration:none; color:#656464;}
a:hover{ color:#095d40;}

.header{ width:1000px; height:130px; margin:0 auto; position:relative; z-index:99999;}
.top{ height:90px; overflow:hidden;}

.logo{ float:left; width:273px; padding-top:15px;}
.top_link{ float:right; width:511px; padding-top:45px; height:26px; font-family:"微软雅黑";}
.sfdr{ float:left; width:316px; overflow:hidden; height:26px; }
.sfdr li{ width:67px; height:26px; line-height:26px; margin:0 6px; float:left; margin:0 5px;}
.sfdr a,.sfdr span{ display:block;width:67px; height:26px; line-height:26px; float:left;color:#fff; font-size:14px; text-align:center;}
.sfdr a:hover{color:#fff;}
/*.sfdr li.abg1 a{ background:#6e4401;}
.sfdr li.abg1 a:hover{ background:url(../images/2013zzgb/a_bg1.jpg) no-repeat;}
.sfdr li.abg2 a{ background:#095d40;}
.sfdr li.abg2 a:hover{ background:url(../images/2013zzgb/a_bg2.jpg) no-repeat;}
.sfdr li.abg3 a{ background:#c16c33;}
.sfdr li.abg3 a:hover{ background:url(../images/2013zzgb/a_bg3.jpg) no-repeat;}
.sfdr li.abg4 a{ background:#0d8b60;}
.sfdr li.abg4 a:hover{ background:url(../images/2013zzgb/a_bg4.jpg) no-repeat;}*/
#menu1 li.abg1 a{ background:url(../img/d_bg1.jpg) no-repeat left bottom;}
#menu1 li.abg1 span{ background:url(../img/a_bg5.jpg) no-repeat left top;}
#menu1 li.abg2 a { background:url(../img/a_bg6.jpg) no-repeat left bottom;}
#menu1 li.abg2 span{ background:url(../img/a_bg6.jpg) no-repeat left top;}
#menu1 li.abg3 a{ background:url(../img/a_bg7.jpg) no-repeat left bottom;}
#menu1 li.abg3 span{ background:url(../img/a_bg7.jpg) no-repeat left top;}
#menu1 li.abg4 a{ background:url(../img/a_bg8.jpg) no-repeat left bottom;}
#menu1 li.abg4 span{ background:url(../img/a_bg8.jpg) no-repeat left top;}
.ya{ padding-left:10px; float:left; width:185px; height:26px; line-height:26px;}
.ya a{ color:#707070;}
.ya a:hover{ color:#095d40;}

/*导航*/
.nav{ width:810px; height:40px; float:left; position:relative; z-index:2000;}
.nav li{ width:70px; margin-right:28px; float:left; font-size:14px; font-family:"微软雅黑"; position:relative; z-index:2000;}
.nav li a{ display:block; width:70px; height:40px; line-height:40px; color:#000; background:url(../images/2013zzgb/nav_libg.jpg) no-repeat right center;}
.nav li a:hover{ color:#095d40;background:url(../images/2013zzgb/nav_lihbg.jpg) no-repeat right center;}
.nav dl{ height:auto; position:absolute; left:0; top:40px; z-index:2000; width:278px; display:none; background:#fff; opacity:0.8;filter:alpha(opacity=80); padding:12px 7px;}
.nav dl dd{ line-height:28px; float:left; width:139px;}
.nav dl dd a{ display:inline-block; width:116px; padding-left:14px;color:#505050; font-family:"微软雅黑"; background:url(../images/2013zzgb/li_bg.jpg) no-repeat left center;}
.nav dl dd a:hover{ background:url(../images/2013zzgb/li_hbg.jpg) no-repeat left center; color:#095d40;}
/*搜索*/
.sea_box{ position:absolute; right:0; bottom:12px;}
.search{background:url(../images/2013zzgb/sea_bg.jpg) no-repeat;width:177px;height:27px;position:relative;}
.search input{position:absolute; width:140px;height:27px;line-height:27px; color:#828181; border:none; background:none; left:0px; top:0px; padding-left:0px; }
.search input.notxt{color:#828181; padding-left:7px;}	
.search input.notxt1 {position: absolute;width: 30px;height: 27px;top: 0px;left: 147px;border: none;cursor: pointer;background: none;cursor:pointer; }
/*图片切换*/
.banner{ width:100%; height:376px; margin:0 auto; position:relative; overflow:hidden;}
.none{display:none;}
.banner_show{width:100%;text-align:center;height:376px;overflow:hidden;position:relative;}
.bannger_inbox{position:absolute;left:50%;top:0;}
.banner_pre_next{position:relative;z-index:105;top:40%;width:100%;left:0;height:30px; margin:0 auto;}
.banner_pre_next a{width:30px;height:30px;background:url(../img/arrows.png) no-repeat;text-indent:-999em;}
.banner_pre_next .banner_btn_left{position:absolute;left:30px;background-position:0px 0px;}
.banner_pre_next .banner_btn_right{position:absolute;right:30px;background-position:-30px 0px;}


/*主体内容*/
.content{ width:1000px; overflow:hidden; margin:8px auto;}
/*北理新闻*/
.bl_news{ width:632px; float:left; height:303px; overflow:hidden; margin-bottom:20px;}
.news_title{ height:75px; overflow:hidden;}
.news_title h2{ height:75px; line-height:75px; font-family:"微软雅黑"; font-size:18px; color:#000; font-weight:normal;}
.news_title h2 a{ font-size:12px; color:#878585; padding-left:14px;}
.news_title h2 a:hover{ color:#095d40;}
.news_con{ height:226px; border-bottom:1px solid #e4e4e4;border-top:1px solid #e4e4e4; padding:0 2px;}
.new_box1{ height:180px; padding:18px 17px 18px 0; border-right:1px solid #e4e4e4; width:180px; overflow:hidden; float:left;}
.con_box img{ width:180px; height:120px;}
.con_box h3{ font-size:12px; line-height:20px; height:40px; overflow:hidden; padding:20px 13px 0 9px; font-weight:normal;}
.con_box h3 a{ color:#656464;background:url(../images/2013zzgb/li_bg.jpg) no-repeat right 30px; display:block;}
.con_box h3 a:hover{ color:#095d40;background:url(../images/2013zzgb/li_hbg.jpg) no-repeat right 30px;}
/*.con_box h3 a.more{ background:url(../images/2013zzgb/li_bg.jpg) no-repeat center; display:inline-block; width:6px; height:20px; line-height:20px; float:right; _text-align:right;}
.con_box h3 a.more:hover{ background:url(../images/2013zzgb/li_hbg.jpg) no-repeat right center;}*/
.new_box2{ height:180px; padding:18px 17px; border-right:1px solid #e4e4e4; width:180px; overflow:hidden; float:left;}
.new_box3{ height:180px; padding:18px 0px 18px  18px; width:180px; overflow:hidden; float:left;}
/*新闻快讯*/
.kx_news{ width:328px; float:right;height:303px; overflow:hidden; margin-bottom:20px;}
.kx_con{ height:228px; overflow:hidden;}
.kx_con li{ line-height:26px; background:url(../images/2013zzgb/li_bg.jpg) no-repeat left center; margin-left:4px; padding-left:14px;}
/*公共服务*/
.fw{ height:190px; width:493px; float:left; margin-bottom:47px;*padding-bottom:47px; _width:504px;}
.fw_con{ padding:23px 0; height:69px; }
.fw_con a{ display:block; float:left; width:50px; height:69px; margin-right:11px; text-align:center; line-height:24px;font-family:"微软雅黑";}
.fw_con a span{ display:block; width:50px; height: 45px;}
.fw_con a.icon1 span{ background:url(../img/icon_01.jpg) no-repeat center;}
.fw_con a.icon2 span{ background:url(../img/icon_02.jpg) no-repeat center;}
.fw_con a.icon3 span{ background:url(../img/icon_03.jpg) no-repeat center;position: relative;}
.fw_con a.icon33 span{ background:url(../images/2013zzgb/icon_033.jpg) no-repeat center;}
.fw_con a.icon4 span{ background:url(../img/icon_04.jpg) no-repeat center;}
.fw_con a.icon5 span{ background:url(../img/icon_05.jpg) no-repeat center;}
.fw_con a.icon6 span{ background:url(../img/icon_06.jpg) no-repeat center;}
.fw_con a.icon7 span{ background:url(../img/icon_07.jpg) no-repeat center;}
.fw_con a.icon8 span{ background:url(../img/icon_08.jpg) no-repeat center;}

.ma01{position: relative;}
.ma01 img{width: 100%;}
.ma01 span{}
.ma01 strong{position: absolute;left:-18px;width:80px;top:-80px;display: none; }

/*专题报道 通知公告*/
.ztbd{ height:190px; width:237px; float:left; margin:0 32px 47px; _margin:0 25px 47px; *padding-bottom:47px;}
.zt_con,.tz_con{ height:115px; overflow:hidden;}
.zt_con li,.tz_con li{ height:53px; border-bottom:1px solid #e4e4e4; overflow:hidden;}
.zt_con li span{ display:block; float:left; margin:10px 0 19px; width:24px; height:24px; background:#e1e1e1; color:#6e4401; font-family:Comic Sans MS; font-size:14px; line-height:24px; text-align:center;}
.zt_con li a{ display:block; float:left; width:180px; height:40px; padding:10px 10px 3px 22px; line-height:20px;}
.tz_new{ height:190px; width:206px; float:left;margin-bottom:47px; overflow:hidden;*padding-bottom:47px;}
.tz_con li span{display:block; float:left; margin:10px 0 19px; width:38px; height:40px;color:#6e4401; font-family:Comic Sans MS; font-size:14px; line-height:20px; text-align:center;}
.tz_con li span b{ font-weight:normal; font-size:12px;}
.tz_con li a{ display:block; float:left; width:150px; height:40px; padding:10px 3px 3px 15px; line-height:20px; _padding:10px 3px 3px 12px;}
/*底部*/
.fot_wrap{ width:100%; height:100px; background:#d0c5ba; margin:0 auto 0; overflow:hidden;}
.footer{ width:1000px; height:76px; padding:12px 0; overflow:hidden; margin:0 auto;}
.sfdr2{ width:182px; padding-right:2px; border-right:1px solid #8a8a8a; height:76px; overflow:hidden;float:left;}
.sfdr2 a{ display:block; float:left; width:75px; height:20px; line-height:20px; color:#fff; margin-right:16px; font-size:14px; text-align:center;}
.sfdr2 a.abg1{ background:#6e4401; margin-top:11px;}
.sfdr2 a.abg1:hover{ background:url(../images/2013zzgb/a_bg5.jpg) no-repeat;}
.sfdr2 a.abg2{ background:#095d40; margin-top:11px;}
.sfdr2 a.abg2:hover{ background:url(../images/2013zzgb/a_bg6.jpg) no-repeat;}
.sfdr2 a.abg3{ background:#c16c33; margin:13px 16px 11px 0;}
.sfdr2 a.abg3:hover{ background:url(../images/2013zzgb/a_bg7.jpg) no-repeat;}
.sfdr2 a.abg4{ background:#0d8b60; margin:13px 16px 11px 0;}
.sfdr2 a.abg4:hover{ background:url(../images/2013zzgb/a_bg8.jpg) no-repeat;}
.fot_link{width:168px; border-right:1px solid #8a8a8a; height:76px; overflow:hidden; padding-left:29px; float:left;}
.fot_link a{ display:block; float:left; height:26px; line-height:26px;margin:8px 33px 0 3px; color:#5b5a5a; *width:75px; *margin:8px 0 0;}
.fot_link a:hover{color:#095d40;}
.fot_logo{ width:79px; height:64px; padding:2px 42px 10px 49px;border-right:1px solid #8a8a8a; float:left;}
.fot_bq{ width:429px; float:left; padding:4px 0 0 17px; line-height:24px; color:#5b5a5a;}

/*列表页 二级总栏目*/
/*图片*/
.list_banner{ width:1000px; height:210px; overflow:hidden; margin:0 auto; position:relative;}
.list_banner img{ width:1000px; height:210px;}
.list_banner h2{ font-size:30px; font-family:"黑体"; color:#fff; font-weight:normal; position:absolute; left:25px; bottom:22px;}
/*位置*/
.add_box{ height:35px; background:#f2ebe5; line-height:35px; width:100%; overflow:hidden;margin:0 auto;}
.add{ width:1000px; height:35px; line-height:35px; margin:0 auto; font-family:"微软雅黑"; font-size:12px;color:#505050;}
.add a{ color:#505050;}
.add a:hover{ color:#095d40; text-decoration:underline;}

.list_con{ width:1000px; overflow:hidden; margin:0 auto;}
/*左侧*/
.con_left{ width:195px; float:left; background:url(../img/all_img.jpg) no-repeat; padding-top:5px;}
.list_menu{ width:193px; overflow:hidden; border:1px solid #e4e4e4; border-top:none;border-bottom:none;}
.menu_title{ padding-left:34px;  border-bottom:1px solid #e4e4e4;}
.menu_title h2{line-height:43px; font-weight:normal; font-size:16px; font-family:"微软雅黑"; color:#505050;}
.menu_con{ overflow:hidden;}
/*.menu_con li{ height:30px; line-height:30px;border-bottom:1px solid #e4e4e4;  padding:0 28px 0 34px;font-size:14px; font-family:"微软雅黑";}
.menu_con li a{ color:#505050; background:url(../images/2013zzgb/li_bg.png) no-repeat right center; display:block;}
.menu_con li a:hover{ color:#095d40; font-weight:bold; background:url(../images/2013zzgb/li_hbg.png) no-repeat right center;}
.list_menu ul ul{ display:none;}
*/
/*右侧*/
.con_right{float:right; width:674px; overflow:hidden; padding:0 49px; border-right:1px solid #e4e4e4;}
.con_right2{float:right; width:743px; overflow:hidden; padding:0 20px; border-right:1px solid #e4e4e4;}
.right_box1{ overflow:hidden; width:674px; padding-top:3px;}
.box_title{ height:45px; overflow:hidden; border-bottom:1px solid #e4e4e4;}
.box_title h2,.box2_title h2{ height:45px; line-height:45px; font-size:18px;font-family:"微软雅黑"; color:#095d40; font-weight:normal;}
.box_con{ padding-top:11px; overflow:hidden;}
.box_list1{ height:238px; overflow:hidden; padding-bottom:3px;}
.box_list2{ overflow:hidden;border-bottom:1px solid #e4e4e4;}
.list2_left,.list2_left2{ width:524px; float:left; line-height:24px; padding:23px 28px 20px 0;border-right:1px solid #e4e4e4;}
.list2_right,.list2_right2{ width:102px; float:right; padding:19px 0 19px 19px;}
.list2_right h3,.list2_right2 h3{font-size:16px;font-family:"微软雅黑"; color:#095d40; font-weight:normal;}
.list2_right li,.list2_right2 li{ font-size:14px;font-family:"微软雅黑"; margin-top:16px;}
.list2_right li a,.list2_right2 li a{ display:block; background:url(../images/2013zzgb/li_bg2.jpg) no-repeat left center; padding-left:15px; color:#505050;}
.list2_right li a:hover,.list2_right2 li a:hover{ color:#6e4401; background:url(../images/2013zzgb/li_hbg2.jpg) no-repeat left center;}
.right_box2{ overflow:hidden; *padding-bottom:32px !important; clear:both;}
.pd{padding-top:24px;clear:both;}
.right_box2 ul{ padding-top:10px;}
.right_box2 li{ width:192px; margin:10px 16px 32px; float:left;}
.right_box2 li img{ width:186px; height:103px; padding:2px 3px; border:1px solid #e4e4e4;}
/*.right_box2 li h3{ height:32px; line-height:32px; font-size:14px;}
.right_box2 li h3 a{ color:#095d40;}
.right_box2 li h3 a:hover{ color:#0d8b60; text-decoration:underline;}
.right_box2 li h3 span{ float:right; padding-top:12px;}
.right_box2 li h3 img{ width:5px; height:6px; border:0;}
.right_box2 li h5{ font-size:12px; font-weight:normal; line-height:24px; padding-top:7px;}
*/
.right_box2 li .h3,.list2_left2 li .h3{ background:url(../images/2013zzgb/nav_lihbg2.jpg) no-repeat right center; padding-right:6px; width: 180px; height: 32px;}
.right_box2 li .h3 a,.list2_left2 li .h3 a{ display:inline-block; width: 180px; height: 32px; line-height:32px; font-size:14px; color:#095d40; font-weight:bold;}
.right_box2 li .h3 a:hover,.list2_left2 li .h3 a:hover{ color:#0d8b60; text-decoration:underline;}
/*.right_box2 ul li .h3 a.bmore img{width: 5px; height: 6px; border:0;}*/
.right_box2 li .h5 a,.list2_left2 li .h5 a{ font-size:12px; font-weight:normal; line-height:24px; padding-top:7px;}

.box2_title{ height:45px; overflow:hidden; border-bottom:1px solid #e4e4e4; padding-top:3px;}

.box_list4{overflow:hidden;}
.list2_left2{ border:0;}
.list2_left2 ul{ padding-top:10px;}
.list2_left2 li{ width:192px; height:196px; margin:10px 16px 32px; float:left;}
.list2_left2 li img{ width:186px; height:103px; padding:2px 3px; border:1px solid #e4e4e4;}
/*.list2_left2 li h3{ height:32px; line-height:32px; font-size:14px;}
.list2_left2 li h3 a{ color:#095d40;}
.list2_left2 li h3 a:hover{ color:#0d8b60; text-decoration:underline;}
.list2_left2 li h3 span{ float:right; padding-top:12px;}
.list2_left2 li h3 img{ width:5px; height:6px; border:0;}
.list2_left2 li h5{ font-size:12px; font-weight:normal; line-height:24px; padding-top:7px;}
*/
.list2_right2{ height:184px; border-left:1px solid #e4e4e4;}
/*文章页*/
.box_list3{ padding:21px 0 38px; overflow:hidden; padding-top:2px;}
.box_banner{ height:380px; overflow:hidden;}
.box_banner img{ width:667px; height:374px; padding:2px; border:1px solid #e4e4e4;}
.list3_zw{ padding:20px 0; line-height:26px; color:#505050; padding-top:2px;}

/*分页*/
.page{background:#f2ebe5; width:100%; height:30px; line-height:30px; text-align:center; margin-bottom:38px; _margin:25px 0 30px;}
.page select{width:43px; heihgt:18px; line-height:18px;}
/*文章页 列表页*/
.right_box2 .li_list{ overflow:hidden; padding-bottom:25px;}
.right_box2 .li_list li{ background:url(../images/2013zzgb/li_bg.jpg) no-repeat 2px center; line-height:30px; border-bottom:1px solid #e4e4e4; padding-left:14px; height:30px; width:661px; margin:0;}
.right_box2 .li_list li span{ float:right;}

/*通栏文章页*/
.tl_wz{ width:910px; overflow:hidden; padding:17px 45px;}
.rt_tit { width: 100%;text-align: center; padding:15px 0; border-bottom:1px solid #e4e4e4;}
.rt_tit h1{ font-family: "微软雅黑"; font-size: 18px; color: #095d40; line-height: 32px; font-weight:normal;}
.rt_tit h2{font-family:"微软雅黑"; font-size: 14px; color: #414141; line-height: 32px; font-weight:normal;}

.rt_zuozhe {font-family:"宋体"; font-size: 12px; color: #646464;text-align: center; line-height: 30px; padding: 10px 0; }
.rt_zhengwen {font-family:"宋体"; font-size: 14px; color: #505050; line-height:30px; text-align: left; overflow:hidden; margin: 0 15px; padding: 15px 0 22px; }
.rt_fujian {margin: 0 15px; padding: 30px 0 0; overflow:hidden; border-top: 1px solid #e4e4e4;}
.rt_fujian h3 { font-size: 14px; line-height: 30px; color:#505050; font-weight:normal;}
.rt_fujian ul li { line-height: 30px;}
.rt_fujian ul li a { font-family: "宋体"; font-size: 12px; line-height: 24px; color:#505050;}
.rt_fujian ul li a:hover{ color: #2492E9; text-decoration: underline;}

/*图片列表通栏*/
.img_news{width:100%; overflow:hidden;}
.img_title{padding:27px 22px 11px 11px; height:20px;}
.img_title h2{float:left; width:400px;}
.img_title .menu_list{float:right; width:334px;}
.img_title .menu_list a{ display:inline-block; width:70px; text-align:center;}
.img_title .menu_list a:hover{color:#006e38; font-weight:bold;}
.img_con{width:100%; overflow:hidden;}

.zh{width:100%; height:290px; }
.zh .zh_title,.zh_list .zh_title{padding:17px 13px 16px 11px; heihgt:25px;}
.zh .zh_title,.zh_list .zh_title h2{ font-size:18px; color:#006e38; font-family:"微软雅黑"; font-weight:normal;}
.zh .zh_con{height:212px; padding-bottom:19px; overflow:hidden; width:1000px;}
.zh .zh_con ul,.zh_list .zh_con ul{width:1200px; padding:0 1px;}
.zh .zh_con li,.zh_list .zh_con li{float:left; width:232px; height:205px; border:1px solid #b5b4b4;margin-right:20px; text-align:center; padding-top:5px;}
.zh .zh_con li h4,.zh_list .zh_con li h4{font-size:12px; font-weight:normal; padding-top:5px; line-height:23px; height:49px;}

/*图片新闻三级*/
.zh_list{width:100%;  overflow:hidden;}
.zh_list .zh_con{ padding-bottom:19px;  width:100%; overflow:hidden;}
.zh_list .zh_con li{margin-bottom:32px;}
/*图片展示*/
/*图片新闻四级*/
.img_news_con{ width:100%; overflow:hidden;}
.img_news_con h3{padding:36px 0 40px; heihgt:54px; text-align:center; color:#006e38; font-size:16px; font-family:"微软雅黑"; font-weight:normal;}
.imgs_scroll{padding:0 68px 60px 62px; height:668px; position:relative;}
.imgs_scroll .btn_l,.imgs_scroll .btn_r{ position:absolute; width:434px; height:580px; top:0;  }
.imgs_scroll .btn_l{left:62px; }
.imgs_scroll .btn_r{right:69px;}
.imgs_scroll .prev,.imgs_scroll .next { position:absolute; display:block; width:70px; top:239px; text-align:center; cursor:pointer; z-index:90; display:none;}
.imgs_scroll .prev{ left:62px;}
.imgs_scroll .next{right:69px;}
.imgs_news_list{width:870px; height:668px; position:relative; overflow:hidden;}
.imgs_news_list ul{width:9999px;}
.imgs_news_list ul li{float:left; display:inline; width:868px; margin-right:10px; height:668px;  text-align:center;}
.imgs_news_list ul li .txt2{width:747px; float:left; line-height:20px; text-indent:2em; padding-top:27px; text-align:left;}
.imgs_news_list ul li .a_imgs{float:right; width:63px;margin-top:30px; height:23px; line-height:23px;  padding-left:23px;background:url(../images/2013zzgb/all_img.jpg) no-repeat left center;color:#006e38; font-family:"微软雅黑"; display:inline-block; }

/*学校领导*/
.right_box2 .xxld table{ width:674px; overflow:hidden; margin:10px auto 42px; }
.right_box2 .xxld table td{ padding:12px 12px 12px 14px;  line-height:21px; border-bottom:1px solid #fff; background:#f2ebe5; color:#505050;}
.right_box2 .xxld table td.bg{ background:#e6ece6;}
.right_box2 .xxld table td a:hover{ text-decoration:underline;}

.ld_box{ overflow:hidden; width:100%;}
.ld_title{ padding-top:11px; height:45px; overflow:hidden; border-bottom:1px solid #e4e4e4;}
.ld_title h2{ height:45px; line-height:45px; font-size:18px;font-family:"微软雅黑"; color:#095d40; font-weight:normal;}
.ld_con2{ padding:15px 50px 30px 4px; overflow:hidden; }
.ld_left{ width:239px; float:left;}
.ld_left img{ width:235px; height:272px; padding:1px; border:1px solid #e4e4e4;}
.ld_right{ width:662px; float:right; overflow:hidden;}
.ld_right h3{ font-size:14px; color:#2e6c54; padding-bottom:38px;}
.ld_right .rig_con{ line-height:26px; padding-bottom:40px;}


/*          下拉菜单样式           */

ul.expmenu li div.menu2{ height:30px; line-height:30px;border-bottom:1px solid #e4e4e4; font-size:14px; font-family:"微软雅黑"; font-weight:normal; padding:0 28px 0 34px;}
ul.expmenu_wu li{ padding:0 28px 0 34px;background:url(../images/2013zzgb/li_bg.jpg) no-repeat 160px center;border-bottom:1px solid #e4e4e4;}
ul.expmenu_wu li .menu2_wu{line-height:30px;font-size:14px; font-family:"微软雅黑"; font-weight:normal; width: 120px; }



ul.expmenu li ul li {height:30px; line-height:30px;border-bottom:1px solid #e4e4e4;font-size:12px; font-family:"微软雅黑"; font-weight:normal;padding:0 28px 0 60px;}
ul.expmenu .span1 a,ul.expmenu li ul li a{color:#505050; background:url(../images/2013zzgb/li_bg.jpg) no-repeat right center; display:block;  height:30px; line-height:30px; }
ul.expmenu .span1 a:hover,ul.expmenu li ul li a:hover{ color:#095d40; font-weight:bold; background:url(../images/2013zzgb/li_hbg.jpg) no-repeat right center;}
ul.expmenu li div.header .arrow{display:block;width:16px;height:16px;}
ul.expmenu ul{ display:none;}



/*      网站地图    */
.map{ padding:0  0 30px 0; overflow:hidden;} 
.map01{ width: 1000px; overflow:hidden; padding: 15px 0; border-bottom:1px dotted #dbdbdb;}
.til_map{ width:100px;height: 46px; line-height:46px; padding-left:10px;}
.til_map h2{ font-family:"微软雅黑"; font-size:16px; color:#000; font-weight:normal; background:url(../images/2013zzgb/nav_libg.jpg) no-repeat 75px 24px;}
.mcon01{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.mcon01 a{ font-family:"微软雅黑"; font-size:14px; padding-right:30px;}
.mcon02{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.mcon02 a{ display:block; width: 150px; float: left; font-family:"微软雅黑"; font-size:14px;}

/*      友情链接    */
.til_link{height: 46px; line-height:46px; padding-left:10px;}
.til_link h2{ font-family:"微软雅黑"; font-size:16px; color:#386187; }
.lkcon01{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.lkcon01 a{ font-family:"微软雅黑"; font-size:14px; padding-right:30px;}
.lkcon02{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.lkcon02 a{ font-family:"微软雅黑"; font-size:14px; padding-right:30px;}
.lkcon03{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.lkcon03 a{ display:block; width: 180px; float: left; font-family:"微软雅黑"; font-size:14px; padding-right:15px;}
.lkcon04{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.lkcon04 a{ font-family:"微软雅黑"; font-size:14px; padding-right:30px;}
.lkcon05{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.lkcon05 a{width: 220px; display:block; float: left; font-family:"微软雅黑"; font-size:14px; padding-right:15px;}
.lkcon06{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.lkcon06 a{ display:block; width: 120px; float: left; font-family:"微软雅黑"; font-size:14px; padding-right:15px;}


/*公共服务*/
.til_fmap{ width:100px;height: 46px; line-height:46px; padding-left:10px; }
.til_fmap h2{ font-family:"微软雅黑"; font-size:16px; color:#095d40; font-weight:normal; background:url(../images/2013zzgb/nav_libg.jpg) no-repeat 75px 24px;}
.mcon03,.mcon04{ width: 980px; overflow:hidden; line-height:32px; padding:0 10px;}
.mcon03 a{ font-family:"微软雅黑"; font-size:14px; padding-right:34px;}
.mcon04 a{ font-family:"微软雅黑"; font-size:14px; padding-right:47px;}

/*新闻快讯*/
#kx_news{ width:328px; float:right;height:303px; overflow:hidden; margin-bottom:20px;}
.kx_con{ height:228px; overflow:hidden;}
.kx_con li{ line-height:26px; background:url(../images/2013zzgb/li_bg.jpg) no-repeat left center; margin-left:4px; padding-left:14px;}
/**tab切换1样式开始**/
.menu1box{ position:relative; overflow:hidden; height:75px;}
.menu01{ position:absolute; width:280px; height:75px;top:0px; left:0px; z-index:1;}
.menu01 li{ float:left; width:93px; height:75px; line-height:75px; overflow:hidden; }
.menu01 li h3{ width:93px; height:46px;margin-top:15px; line-height:46px; float:left;font-size:18px;font-family:"微软雅黑"; cursor:pointer;font-weight:normal;text-align:center;}
.menu01 .hover h3{text-align:center;margin-top:15px;  width:93px; height:42px; line-height:42px;font-weight:normal;color:#fff;background-color:#0e8b61;}
.menu01 li h3 a:hover{}
.main1box{ clear:both;width:328px; overflow:hidden;}
.main1box ul{ display: none;}
.main1box ul.block{ display: block;}
.main1box ul li{ padding:0px; margin:0px; height:235px;}
.tab_list2 dl dd{width:234;line-height:26px;padding-left:14px;margin-left:4px;background:url(../images/2013zzgb/li_bg.jpg) no-repeat left center;}
.tab_list2 dl dd span{ width:160px; height:40px; float:left; display: block;}
.tab_list2 dl dd div{ width:560px; height:40px; float:left; float:right;}
.tab_list2 dl dd div h2{ font-size:14px; color:#1f4f7c; height:30px; line-height:30px; font-weight:bold;}
.tab_list2 dl dd div a{ font-size:14px;line-height:30px; color:#4c4c4c}
.bmore1{width:60px;height:75px;float:right;padding-right:0px;}
.bmore1 strong{ display:none; font-weight:normal;height:75px;width:78px;float:right;line-height:75px;font-size:12px;}
.bmore1 strong a{ display:block; padding:1px 30px;width:78px;height:65px; font-size:12px;line-height:65px;padding-top:10px;text-align:left;color:#878585;}
.bmore1 strong a:hover{color:#095D40}
.bmore1 strong.current02{ display:block;}
.bmore1 strong.current02 a:hover{_color:#666666;}
/**tab切换1样式结束**